.GameConfig {

}

.GameConfig-list {
	margin: 1rem 0 auto;
	padding: 0;
}

.GameConfig-list-item {
	padding: 1rem;
}

.GameConfig-list-item h3 {
	font-weight: bold;
	margin: 0 0 0.5rem;
}

.GameConfig-summary {
	padding: 0 1rem;
	font-size: 1.25rem;
}

.GameConfig-summary.large {
	font-size: 1.5rem;
}

