.GameConfig {

}

.GameConfig-list {
	margin: 1rem 0 auto;
	padding: 0;
}

.GameConfig-list-item {
	padding: 1rem;
}

.GameConfig-list-item h3 {
	font-weight: bold;
	margin: 0 0 0.5rem;
}

.GameConfig-summary {
	padding: 0 1rem;
	font-size: 1.25rem;
}

.GameConfig-summary.large {
	font-size: 1.5rem;
}

.GameConfig-buttons {
	padding: 1rem;
	width: 100%;
}

.GameConfig-buttons-button {
	display: block;
	font-size: inherit;
	width: 100%;
	padding: 1rem;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.GameConfig-buttons-button + .GameConfig-buttons-button {
	margin: 1rem auto 0;
	background: var(--c1);
	color: white;
}