/*.Menu {
	height: 3rem;	
	width: 2rem;
	z-index: 9;	
	position: absolute;
	top: 0;
	right: 3rem;
	text-align: right;
}*/

.Menu.visible {
	background: white;
	height: auto;
	width: 100%;
	box-shadow: 0 5px 15px var(--c5);
	position: absolute;
	z-index: 10;
}

.Menu-bar {
	background: var(--c5);
	width: 100%;
	display: flex;
	height: 3rem;
	line-height: 3rem;
	padding: 0.5rem 0;
}

.Menu.visible .Menu-bar {
	border-bottom: 1px solid var(--c2);
	height: 3rem;
	line-height: 3rem;
}

.Menu-subroute-button {
	display: block;
	margin: 0 auto;
	border: none;
	background: none;
	border: 1px solid white;
	color: white;
	padding: 0 0.5rem;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 4px;
}

.Menu-subroute-button:active {
	background: rgba(255, 255, 255, 0.5);
}

.Menu-title {
	margin: 0;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	font-style: italic;
	line-height: inherit;
	margin: 0 auto;
	display: none;
	color: var(--c2);
}

.Menu.visible .Menu-title {
	display: block;
}

.Menu-burger {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	border: none;
	font-size: 2rem;
	line-height: inherit;
	width: 3rem;
	padding: 0 4px 0 0;
}

.Menu-list {
	text-align: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.Menu-list-item  {
	border-bottom: 1px solid var(--c5);	
	padding: 0;
}

.Menu-divider {
	background: var(--c5);
	color: white;
	font-size: 1rem;
	font-weight: bold;
	padding: 1rem;

}

.Menu-button {
	text-align: right;
	width: 100%;
	height: 100%;	
	border: none;	
	color: white;
	font-size: 1rem;
	padding: 1rem;
	background: var(--c4);
}

