.NextSub {
	
}


.Sub {
	font-size: 1.5rem;
	display: flex;	
	border-bottom: 3px solid var(--c5);

	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 33% 2rem 33%;
}

.Sub-on {
	background: rgb(150, 255, 150);
	padding: 1rem 2rem;
}

.Sub-off {
	background: rgb(250, 120, 120);
	color: white;
	padding: 1rem 2rem;
}

.Sub-time {
	font-family: monospace;
	padding: 1rem 0;
	text-align: center;
	width: 7rem;
/*	font-weight: bold;*/
}

.Sub-time.overdue {
	background: var(--c5);
	color: white;
}

.Sub-button {
	font-size: 2rem;
	border: none;
	padding: 0;
	background: linear-gradient(90deg, rgb(150, 255, 150) 0%, rgb(150, 255, 150) 50%, rgb(250, 120, 120) 50%);

}