.NextSub {
	padding: 0.5rem;
	background: var(--c5);
	color: white;
}

.NextSub-title {
	margin: 0;
	font-size: 1rem;
	text-align: center;
	font-weight: normal;
}

.NextSub-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.NextSub-list .Sub-time:nth-child(1) {
	color: white;
}


.NextSub-list .Sub-time {
	color: #bbb;
}

.NextSub .Sub-time.overdue {
	color: var(--c1);
}

.NextSub .Sub-time button {
	background: none;
	display: block;
	color: inherit;
	border: none;
	margin: 0 auto;
	font-family: monospace;
	padding: 0.5rem;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}


.NextSub-showmore {
	width: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    background: none;
    border: none;
    padding: 1rem;
    display: block;
}


.Sub {
	font-size: 1.5rem;
	display: flex;	
	border-bottom: 1px solid var(--c4);
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 33% 2rem 33%;
}

.Sub-on {
	background: var(--on);
	padding: 1rem 2rem;
}

.Sub-off {
	background: var(--off);
	color: white;
	padding: 1rem 2rem;
}

.Sub-button {
	font-size: 2rem;
	border: none;
	padding: 0;
	background: linear-gradient(90deg, var(--off) 0%, var(--off) 50%, var(--on) 50%);

}