.PlayerList {
	text-align: left;
}

.PlayerList-title {
	font-size: 2rem;
	line-height: 2rem;
	padding: 1rem;
	margin: 0;
	text-align: center;
	z-index: 1;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	transition: flex 2s auto;
}

.PlayerList-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.PlayerList-list-item {
	font-size: 1.4rem;
	border-bottom: 1px solid var(--c4);
}

.PlayerList-list-item-button {
	width: 100%;
	padding: 1rem;
	background: none;
	border: none;
	color: inherit;
	font-size: inherit;
}

.PlayerList-container, .PlayerList-titles {
  display: flex;
}

.PlayerList, .PlayerList-title {
  flex: 1;  
}


.PlayerList-titles, .PlayerList-container {
	transition: width 0.2s linear, left 0.2s linear;
	width: 100vw;
	left: 0;
	position: relative;
}
.PlayerList-titles.off, .PlayerList-container.off {
	width: 200vw;
	position: relative;
	left: -100%;
}

.PlayerList-titles.on, .PlayerList-container.on {
	width: 200vw;
	left: 0;
}

.PlayerList-titles-sub-button {
	width: 100%;
	padding: 1rem;	
	font-size: 1.5rem;
	line-height: 2rem;
	border: none;
	background: none;
	background: var(--c5);
	font-weight: bold;
	color: var(--c2);
}

.PlayerList-titles {
	border-top: 3px solid var(--c4);
	box-shadow: 0 5px 5px var(--c4);
}


.PlayerList.on .PlayerList-list-item, .PlayerList-title.on {
	background: var(--c2);
}

.PlayerList.on .PlayerList-list-item.selected {
	background: var(--off);
	color: white;
}

.PlayerList.off .PlayerList-list-item,  .PlayerList-title.off {
	background: var(--c3);
}

.PlayerList.off .PlayerList-list-item.selected {
	background: var(--on);
}
