.ProgressBar {
	height: 1.5rem;
	border-radius: 4px;
	padding: 0;
	text-align: center;
	font-size: 0.75rem;
	color: white;
	font-weight: 600;
	overflow: hidden;
	position: relative;
}

.ProgressBar + .ProgressBar {
	margin-top: 4px;
}

.ProgressBar-inner {
	height: 100%;
	transition: width 1s linear;
	border-radius: inherit;
}

.ProgressBar-inner-over {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
	transition: width 1s linear;
}

.ProgressBar-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.ProgressBar-label-button {
	border: none;
	padding: 0 0.5rem;
	width: 100%;
	height: 100%;
	text-align: left;
	background: none;
	font: inherit;
	color: inherit;
	font-variant-numeric: tabular-nums;
}

.ProgressBar.on {
	background: var(--on);
}

.ProgressBar.on .ProgressBar-inner {
	background: var(--ondark);
}

.ProgressBar.on .ProgressBar-inner-over {
	background: var(--ondark);
}

.ProgressBar.on .ProgressBar-label {
	color: var(--c5);
}

.ProgressBar.off {
	background: var(--off);
}

.ProgressBar.off .ProgressBar-inner {
	background: var(--offdark);
	opacity: 0.5;
}

.ProgressBar.off .ProgressBar-inner-over {
	background: var(--c1);
	opacity: 0.7;
}

.ProgressBar.off .ProgressBar-label {
	color: var(--c5);
}

.ProgressBar.slim {
	height: 0.5rem;
	border-radius: 2px;
}

.ProgressBar.slim .ProgressBar-label {
	display: none;
}
